.highlight-grid {
  background-color: rgba(0, 0, 0, 0.35);
  border: 1px solid black;
  position: fixed;
  z-index: 1000;
}

#tweetHighlightOverlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.65);
  justify-content: center;
  align-items: center;
  flex-direction: row;
  display: none;
  z-index: 1000;
  overflow: hidden;
}

#tweetHighlightInput {
  border: 2px solid black;
  background-color: #fff;
  padding: 15px;
}

#tweetHighlightStatus {
  display: block;
  margin-bottom: 10px;
}

#tweetHighlightInput button{
  margin: 0 auto;
  border: none;
  border-radius: 3px;
  text-shadow: none;
  color: #FFF;
  background-image: none;
  padding: 10px 10px;
  display: inline-block;
  margin-right: 10px;
  float: right;
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.57);
}

#tweetHighlightButton {
  background-color: #00cc00;
}


#tweetHighlightButton.disabled {
  background-color: #333;
}

#tweetHighlightCancelButton {
  background-color: #cc0000;
}

.tweet-highlight-heading {
  font-size: 1.125em
  color: #000;
}

.tweet-char-count.good {
  color: #17B606;
}

.tweet-char-count.error {
  color: #ED0F0F;
}
